*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.form-box{
    min-width: 100%;
    min-height: 50vh;
    border: dotted #F55A00 5vw;
    margin: 0vw;
    padding: 5vw;

}

label, input, textarea{
    display: block;
    width: 100%;
    padding: .5rem 0;
    color: red;
}

#submitBtn{
    border: 0; 
    background-color: #F55A00;
    padding: .5rem;
    color: #FFFF;
    margin: 1rem 0;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    /* change the mouse corsor to finger pointer */
}

/* hover over  */
#submitBtn:hover{
    background-color: white;
    color: black;
}