*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    font-family: sans-serif;
}


.form-box{
    min-width: 100%;
    height: 90vh;
    border: dotted #F55A00 5vw;
    /* border: 1px solid red; */
    margin: 0vw;
    padding: 5vw ;

    /* position:relative for .prevBtn and .nextBtn position:absolute; */
    position:relative; 
}

.field1{
    position:relative; 
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

/******** h5 ********/

.form-box h5{
    font-size: 35px ;
    text-align: center;
    color: #F55A00;
    margin: 0 0 .5vh 0;
}



/******** label ********/

.form-box label{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}



/******** input textarea ********/

.form-box input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border:0;
    border-radius: 5px;
    font-size: 20px;
}

.form-box textarea{
    height: 15vh;
}



/******* prev next button ********/
.prevBtn, .nextBtn{
    display: inline-block;
    width: 30%;
    height: 2rem;
    color: red;
    border: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 20px;
    position:absolute;
    margin: 1rem 0 1rem 0;
}

.prevBtn{
    border-radius: 20px 0 0 20px; 
}

.nextBtn{
    margin-left: 52%;   
    border-radius: 0 20px 20px 0; 
}

.nextBtn:hover, .prevBtn:hover{
    background-color: rgb(245, 245, 78);
    transition: 1s background ease;
}



/******** submit button  ********/
#submitBtn{
    border: 0; 
    background-color: #F55A00;
    padding: .5rem;
    color: #FFFF;
    margin: 1rem 0;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    /* change the mouse corsor to finger pointer */
    transition: 1s background ease;
    font-size: 20px;
}


/* submit hover over  */
#submitBtn:hover{
    background-color: rgb(250, 205, 149);
    color: #FFF;
    font-size: 20px;
}

