*{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
}
.nav {
    color: white;
    border: 1px solid red;
}

.parent{
    border: 1px solid red;
}

.child1{
    background-color: chocolate;
    color: white;
    border: 1px solid red;
}

.child2{
    background-color: bisque;
    color: white;
    border: 1px solid red;
}

.child3{
    background-color: coral;
    color: white;
    border: 1px solid red;
}

.child4{
    background-color: cornflowerblue;
    color: white;
    border: 1px solid red;
}