.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    /* border: 1px solid red; */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-basis: 100%;
}

.logo{
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 20%;
    font-size: 2rem;
    color: white;
}

.navLink{
    /* border: 1px solid black; */
    width: 80vh;
    height: 10vh;
    justify-content: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration:none;
    font-weight: bold;  
    color: white;
    font-size: 2rem;
}

.about{
    text-decoration:none;
    color:white;
    text-shadow: 0 0 5px black;

}

.home{
    text-decoration:none; 
    color: #fff;
    text-shadow: 0 0 5px black;
}

.port{
    text-decoration:none; 
    color:#fff;
    text-shadow: 0 0 5px black;
}

.cont{
    text-decoration:none;
    color:#e1ad01;
    text-shadow: 0 0 5px black;
}