.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}
