*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}


.parent{
    /* border: 1px solid red; */
    height: 100vh;
    border: 20px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.child1{

    height: 200px;
    background-color: chocolate;
    color: white;
    text-decoration:none;
    font-weight: bold;  
}

.child2{
    width: 200px;
    height: 200px;
    background-color: bisque;
    color: white;
    text-decoration:none;
    font-weight: bold;  
}

.child3{
    width: 200px;
    height: 200px;
    background-color: coral;
    color: white;
    text-decoration:none;
    font-weight: bold;  
}

.child4{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    color: white;
    text-decoration:none;
    font-weight: bold;  
}