.responsive {
    width: 50%;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color:rgb(5, 48, 48);
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

body{
    background-color: orange;
}